<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1021119903590-g872n8946cjkevva1t06loce9hmnp5or.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1021119903590-g872n8946cjkevva1t06loce9hmnp5or</string>
	<key>API_KEY</key>
	<string>AIzaSyBthtWMBkUvv4NFQMDooCoVGfXhvhoYwQU</string>
	<key>GCM_SENDER_ID</key>
	<string>1021119903590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.u22.codename.ELEMON</string>
	<key>PROJECT_ID</key>
	<string>u22project-295ad</string>
	<key>STORAGE_BUCKET</key>
	<string>u22project-295ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021119903590:ios:cc246155e2f5435ba3baa7</string>
</dict>
</plist>